RewriteEngine On
RewriteRule ^about$ about.php [NC]
RewriteRule ^fungsi$ fungsi.php [NC]
RewriteRule ^variabel$ variabel.php [NC]
RewriteRule ^konstanta$ konstanta.php [NC]
RewriteRule ^operator$ operator.php [NC]
RewriteRule ^percabangan$ percabangan.php [NC]
RewriteRule ^perulangan$ perulangan.php [NC]
RewriteRule ^fungsi/fungsi-echo$ fungsi-echo.php [L]
RewriteRule ^fungsi/fungsi-print$ fungsi-print.php [L]
RewriteRule ^fungsi/fungsi-printf$ fungsi-printf.php [L]